body {
    background-image: url("../imgs/app/background.png");
    background-size: 100%;
    user-select: none;
}

.menu {
    background-position: center;
    background-size: cover;
    height: 15vh;
    align-items: flex-start;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.555); /* Fondo semi-transparente */
    z-index: 9999; /* Posición del elemento */
    display: none; /* Ocultar inicialmente */
}

#loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
}

#loading img {
    width: 100px; 
    height: 100px;
    margin-bottom: 10px;
}

